.navigation {
	height:70px;
	width: 100%;
	position: fixed;
	top:0;
	left:0;
	z-index:1000;
}
header {
	margin-top: 70px;
	height: 300px;
}
.content {
	line-height:30px;
	margin: 25px 0 15px 1em;
}
.content-right {
	display:block;
	float:right;

	line-height:30px;
	margin: 25px 0 15px 1em;
}
nav .selected {
	border-bottom: solid grey 1px;
}